<!DOCTYPE html>
<html>
    <head>
        <title>Mi Web App</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>

    <body>
        <h1>Bievenidos a mi aplicacion web</h1>
        <a href="{{ url_for('about') }}">Sobre nosotros</a>
        <h2>Usuarios registrados:</h2>
        <ul>
            {% for user in users %}
                <li>{{ user[0] }} - {{ user[1] }}</li>
            {% endfor %}
        </ul>
        <a href="{{ url_for('register') }}">Registrar usuario</a>
    </body>
</html>